* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

body {
  font-family: "Georgia", serif;
}

html,
body {
  height: 100%;
}

header {
  background: #1B2A4D;
  padding: 3em;
}

.header-title {
  color: #26C1D4;
  font-size: 3em;
  font-variant: small-caps;
  font-weight: lighter;
}

main {
  padding: 3em;
}

.post-prez {
  list-style: none;
}

.post-prez .post {
  margin-bottom: 5em;
}

.post-prez .post-info {
  display: inline-block;
  margin-bottom: .5em;
  vertical-align: middle;
  font-size: 1.3em;
  font-variant: small-caps;
  color: #656565;
}

.post-prez .post-category {
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
}

.post-prez .post-category:before,
.post-prez .post-category:after {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .2em;
}

.post-prez .post-category:before {
  content: "[";
}

.post-prez .post-category:after {
  content: "]";
}

.post-category.ata {
  color: red;
}

.post-category.ata {
  color: #1182C7;
}

.post-category.novosConhecimentos {
  color: #17CB52;
}

.post-prez .post-link {
  display: block;
  font-size: 2em;
}

.post-prez .post-link:not(:hover){
  text-decoration: none;
}

.post-title {
  font-size: 3.5em;
  font-weight: lighter;
  margin-bottom: 1.2em;
}

.post-body {
  font-size: 1.2em;
  line-height: 1.7em;
}

.post-body > p:first-letter {
  font-size: 2em;
  letter-spacing: .1em;
}

@media (min-width: 955px) {
  body {
    letter-spacing: -1em;
  }

  header {
    display: inline-block;
    height: 100%;
    width: 18.5em;
    text-align: center;
    letter-spacing: -1em;
  }

  header:before {
    content:"";
    display:inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .header-title {
    display: inline-block;
  }

  main {
    display: inline-block;
    max-width: calc(100% - 18.5em);
    overflow: auto;
    vertical-align: top;
    padding: 5em;
  }
}
